* {
  margin: 0;
  padding: 0;
}

.nav {
  background: darkslategray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul li {
  justify-content: end;
}

.nav-links {
  display: flex;
}


a {
  color: white;
} 


.nav-title {
  justify-content: left;
}
  

