* {
  margin: 0;
  padding: 0;
}

.nav {
  background: darkslategray;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 4rem;
}

a {
  color: lightgray;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  padding-top: 20px;
}

li {
  display: inline;
  margin-left: 20px;
  font-size: 2rem;
}

.active {
  color: white;
}

.btn {
  margin-right: 30px;
  
  display: inline;
  font-size: 1.5rem;
  color:white;
  background: blue;
  border: black;
  box-shadow: 5px 5px 10px 2px black;
  padding: 5px 15px 5px 15px;
  
}
  

