* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: darkslategray;
}

.nav-title {
  color: white;
  margin-left: 20px;
}

.nav-links {

}

li {
  display: inline-flex;
}

ul {
  list-style-type: none;
  
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}